In [126]:
# Import Libraries and Dependencies
import pandas as pd
from pathlib import Path

### 1. Combine and Clean the Data
#### Import CSVs

In [127]:
# Read the CSV files into DataFrames.
sales_2020_path = 'Resources/athletic_sales_2020.csv'
sales_2021_path = 'Resources/athletic_sales_2021.csv'
#sales_2020_df = pd.read_csv(sales_2020_path)
#sales_2021_df = pd.read_csv(sales_2021_path)
#sales_2020_df.head()
#sales_2021_df.head()   
sales_2020_2021_df = [pd.read_csv('Resources/athletic_sales_2020.csv'), pd.read_csv('Resources/athletic_sales_2021.csv')]
#sales_2020_2021_df = pd.concat(sales_2020_2021_df)
#sales_2020_2021_df.head()
sales_2020_2021_df
#sales_2020_2021_df = [pd.read_csv('Resources/athletic_sales_2020.csv'), pd.read_csv('Resources/athletic_sales_2021.csv')]
#sales_2020_2021_df = pd.concat(sales_2020_2021_df)
#sales_2020_2021_df.head()
# Create DataFrames for each CSV file.  Note:  These files are located in the Resources folder.
#athelete_sales_2020_df = pd.read_csv('Resources/athletic_sales_2020.csv')
#athelete_sales_2020_df

[         retailer  retailer_id invoice_date     region         state  \
 0     Foot Locker      1185732       1/1/20  Northeast      New York
 1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
 2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
 3     Foot Locker      1185732       1/1/20  Northeast      New York
 4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
 ...           ...          ...          ...        ...           ...
 1292    West Gear      1128299     12/30/20       West    California
 1293    West Gear      1128299     12/30/20       West    California
 1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
 1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
 1296    West Gear      1128299     12/30/20       West    California

                city                  product  price_per_unit  units_sold  \
 0          New York    Men's Street Footwear              50        1200
 1      Philadelphia          Women's Apparel              68          83
 2      Philadelphia          Women's Apparel              75         275
 3          New York    Men's Street Footwear              34         384
 4      Philadelphia          Women's Apparel              53          83
 ...             ...                      ...             ...         ...
 1292  San Francisco          Women's Apparel              72         203
 1293  San Francisco          Women's Apparel              80         700
 1294    Minneapolis  Women's Street Footwear              41         119
 1295    Minneapolis  Women's Street Footwear              45         475
 1296  San Francisco          Women's Apparel              62         245

       total_sales  operating_profit sales_method
 0          600000         300000.00     In-store
 1            5644           2426.92       Online
 2          206250          61875.00       Outlet
 3           13056           6789.12       Outlet
 4            4399           1407.68       Outlet
 ...           ...               ...          ...
 1292        14616           3946.32       Online
 1293       560000          84000.00       Outlet
 1294         4879           2878.61       Online
 1295       213750          96187.50       Outlet
 1296        15190           2886.10       Outlet

 [1297 rows x 12 columns],
          retailer  retailer_id invoice_date     region         state  \
 0       West Gear      1128299       1/1/21       West    California
 1       West Gear      1128299       1/1/21       West    California
 2          Kohl's      1189833       1/1/21    Midwest       Montana
 3          Kohl's      1189833       1/1/21    Midwest       Montana
 4       West Gear      1128299       1/1/21       West    California
 ...           ...          ...          ...        ...           ...
 8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
 8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
 8343       Amazon      1185732     12/31/21  Northeast         Maine
 8344       Amazon      1185732     12/31/21  Northeast         Maine
 8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

                city                  product  price_per_unit  units_sold  \
 0     San Francisco  Men's Athletic Footwear              65         750
 1     San Francisco  Men's Athletic Footwear              51         233
 2          Billings            Men's Apparel              50         275
 3          Billings            Men's Apparel              47          77
 4     San Francisco  Men's Athletic Footwear              64         225
 ...             ...                      ...             ...         ...
 8341   Philadelphia            Men's Apparel              63          47
 8342   Philadelphia            Men's Apparel              46          56
 8343       Portland            Men's Apparel              52          36
 8344       Portland            Men's Apparel              55         125
 8345   Philadelphia            Men's Apparel              70         175

       total_sales  operating_profit sales_method
 0          487500         121875.00       Outlet
 1           11883           3208.41       Outlet
 2          137500          82500.00       Outlet
 3            3619           2714.25       Online
 4           14400           5184.00       Online
 ...           ...               ...          ...
 8341         2961           1362.06       Online
 8342         2576           1004.64       Outlet
 8343         1872            692.64       Online
 8344        68750          17187.50       Outlet
 8345       122500          42875.00       Outlet

 [8346 rows x 12 columns]]

In [128]:
# Display the 2020 sales DataFrame
sales_2020_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [129]:
# Display the 2021 sales DataFrame
sales_2021_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [130]:
# Check the 2020 sales data types.
sales_2020_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [131]:
# Check the 2021 sales data types.
sales_2021_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [132]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
sales_2020_2021_df = pd.concat([sales_2020_df,sales_2021_df], axis="rows", ignore_index=True)
sales_2020_2021_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [133]:
# Check if any values are null.
if sales_2020_2021_df.isnull().values.any():
    print('There are null values in the DataFrame')
else:
    print('There are no null values in the DataFrame')

There are no null values in the DataFrame

In [134]:
# Check the data type of each column
sales_2020_2021_df.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [142]:
# Convert the "invoice_date" to a datetime datatype
#sales_2020_2021_df['invoice_date'] = pd.to_datetime(sales_2020_2021_df['invoice_date'])
#sales_2020_2021_df
sales_2020_2021_df['invoice_date'] = pd.to_datetime(sales_2020_2021_df['invoice_date'])
sales_2020_2021_df.head()

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,2020-01-01,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [143]:
# Confirm that the "invoice_date" data type has been changed.
sales_2020_2021_df.dtypes

retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [ ]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".




# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the number products sold for region, state, and city.


# Rename the "units_sold" column to "Total_Products_Sold"


# Show the top 5 results.

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"

# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [ ]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

#### Using `pivot_table`

In [ ]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"

# Show the top 5 results.

### 5. Determine the Day with the Most Women's Athletic Footwear Sales

In [ ]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [ ]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in ascending order on "Total Sales".

### 6.  Determine the Week with the Most Women's Athletic Footwear Sales

In [ ]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in ascending order on "Total Sales".